name: golangci-lint
on:
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull requests. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  golangci:
    strategy:
      matrix:
        go: [stable]
        os: [ubuntu-latest, windows-latest]
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: client/go.mod
          go-version: ${{ matrix.go }}
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          working-directory: client
          version: v2.1
